@font-face
{
    font-family: 微软雅黑;
    src: url('../Microsoft%20YaHei%20UI%20Light.ttf');
}
@font-face {
    font-family: 华文细黑;
    src: url('../华文细黑.TTF');
}
@font-face {
    font-family: 黑体;
    src: url('../黑体.ttf');
}